 footer.footer {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     padding: 0 25px;
     color: #FFF;
     background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);     box-shadow: var(--shadow);
 }